#logo {
    background: #4AA09B;
    color: white;
    margin-left: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;  
}
body {
    background: lightgrey;
}
.text-box {
    background: white;
    padding: 15px;
}
h3 {
    color:#4AA09B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color:#4AA09B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h5 {
    color:#4AA09B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
    padding: 10px;
    color: #4AA09B;
}
.img-border{
    border-style: solid;
    border-color: #4AA09B;
    border-width: thin;
  }

@media (max-width: 800px) {
    .navbar-expand-lg { 
      background-color: #4AA09B !important;
    }
  
    .navbar {  
      padding: 10px;
    } 
    
    .navbar div {  
      background-color: white;
    }
  
    .navbar-brand {
      padding: 10px;
    }
    button{
      margin-right: 60px;
    }
  
    .navbar-light .navbar-toggler {
      color: #888888;
      border-color: white;
    }
  }